@model IEnumerable<Mango.Web.Models.ProductDTO>

<br />
<br />
<div class="container pt-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-info">Product List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="Create" class="btn btn-outline-info"><i class="bi bi-plus-square">Create New Product</i></a>
        </div>
    </div>
</div>